.infor-div {
    text-align: center;
    display: inline-block;
    margin-top: 15%;
    animation: transitionInen 2s;
}

#contato-infor{
    text-decoration: none;
    color: rgb(24, 110, 128);
    font-weight: 900;
    
}

#contato-infor:hover{
    text-decoration: underline;
}

.hidecel{
    display: none;
}