* {
    margin: 0;
    bottom: o;
}

body {
    background: rgb(223,255,251);
    background: -moz-radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
    background: radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dffffb",endColorstr="#b6d9da",GradientType=1);
}

.div-primaria {
    width: 100%;
    display: inline-block;
    
}

h1 {
    font-family: 'Parisienne', cursive;
}

#jelmig {
    color: rgb(94, 166, 180);
    font-size: 72px;
}

.jelmig {
    text-align: center;
    margin-top: 100px;
    float: right;
    margin-right: 35%;
    animation: transitionIn 3s;
    
}

#logo {
    width: 100%;
}

.logo{
    width: 250px;
    height: 250px;
    text-align: center;
    float: left;
    margin-top: 20px;
    animation: transitionIntr 3s;
    
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionIntr {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 600px) {
    body {
        background: rgb(223,255,251);
        background: -moz-radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
        background: radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dffffb",endColorstr="#b6d9da",GradientType=1);
    }

    #logo {
        width: 100%;
    }

    #jelmig {
        font-size: 50px;
    }

    .jelmig {
        width: 100%;
        text-align: center;
        margin-top: 40%;
        margin-right: 0;
        
    }

    .logo{
        width: 100%;
        height: 100%;
        text-align: center;
        float: left;
        margin-top: 20px;
        
    }
}