* {
    margin: 0;
    bottom: o;
}

body {
    background-color: rgb(255, 60, 0);
}

@media only screen and (max-width: 600px) {
    body {
        background: rgb(223,255,251);
        background: -moz-radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
        background: radial-gradient(circle, rgba(223,255,251,1) 0%, rgba(182,217,218,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dffffb",endColorstr="#b6d9da",GradientType=1);
    }
}